*{
    font-family: "M PLUS Rounded 1c", sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

section{
    margin: 120px 0;
}

#bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
    opacity: 0.1;
}

#bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section h2{
    display: block;
    width: 70%;
    margin: 120px auto 40px;
    font-size: 32px;
    border-bottom: solid 2px #0f9b20;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 24px;
    background-color: rgb(58, 58, 58);
    z-index: 100;
}

header i{
    color: #fff;
    font-size: 24px;
}

header nav{
    display: flex;
    width: max-content;
    margin: 0 0 0 auto;
}

header nav a{
    display: block;
    margin: 0 12px;
    padding: 0 12px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

header nav a::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #fff;
    transition: .3s;
    margin: auto;
}

header nav a:hover::after{
    width: 100%;
}

#firstview{
    width: 100%;
    height: 80vh;
    position: relative;
    margin-top: 56px;
}
    
#firstview h1{
    font-size: 64px;
    text-align: center;
    position: absolute;
    display: block;
    bottom: 24px;
    right: 24px;
    line-height: 1;
    padding: 12px 48px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

#firstview img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.charm__content{
    width: 70%;
    margin: auto;
    position: relative;
}

.charm__content img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.charm__content h3{
    font-size: 24px;
    line-height: 1;
    margin-top: 64px;
}

.charm__content h3::before{
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    background-color: #0f9b20cc;
    z-index: -1;
}

.rule__wrapper{
    display: flex;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
}

.rule__card{
    width: 46%;
    height: max-content;
    border-radius: 24px;
    box-shadow: 4px 4px 4px #666;
    background-color: #fff;
    justify-content: space-between;
    margin: 24px auto;
    padding: 16px;
    transition: .3s;
}
.rule__card:hover{
    scale: 1.1;
    box-shadow: 12px 12px 8px #666;
}


.rule__card img{
    width: 100%;
    height: 12vw;
    object-fit: contain;
    margin: auto;
    display: block;
}

.position__intro{
    width: 70%;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
}
.position__item{
    display: flex;
}

.position__item img{
    width: 50%;
}

.position__item__textblock{
    margin-left: 36px;
}
.position__item__textblock h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.position__item__textblock p{
    font-size: 18px;
}

.swiper-pagination{
    bottom: -24px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(58, 58, 58);
    margin: 0;
}
