.class1 {
    width: 100%; /* 幅を親要素に対して半分に設定 */
    height: 500px; /* 高さを 500px に設定 */
}

.class2{
    width: 20%;
    height: 330px
}

p{
    font-size: 20px;
}

a{
    color:rgb(223, 118, 7);
}

h1{
    color:#ed6e13;
}

h2{
    color:#ed6e13;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 30px;
}

*{
    font-family: "Dela Gothic One", sans-serif;
}

a{
    font-size: 1000px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

header nav{
    display: flex;
    width: max-content;
    margin: 0 auto 0 0;
}

header nav a{
    display: block;
    margin: 0 24px;
    font-size: 14px;
    color: #ed6e13;
    cursor: pointer;
}

