
body {
    color:#f8f4e6;
    background-color: #6a1917;
}

h1 {
    margin: 60px;
    z-index: 100;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 24px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 50;
}

header nav{
    display: flex;
    width: max-content;
    margin: 0 0 0 auto;
}

header nav a{
    display: block;
    margin: 0 24px;
    font-size: 14px;
    color: yellowgreen;
    cursor: pointer;
}

img {
    width: 100%;
    z-index: 100;
}

table {
    width: 100% ;
    font-size: 20px;
}

a {
    color: yellowgreen;
    text-decoration: none; /* リンクの下線をなくす */
}

/* マウスが乗った時の色設定 */
a:hover {
    color: pink;
}

.test {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 100;
}