h1{
    color: chartreuse;
    margin-top: 58px;
}

*{
    font-family: "Zen Antique", serif;
}

#image1{
    margin-bottom:30px;
}

#image2{
    box-shadow: 16px 16px 16px black;
    margin-right:30px;
}

#image3{
    box-shadow: 16px 16px 16px black;
    margin-right:30px;
}

#image4{
    box-shadow: 16px 16px 16px black;
}

#image5{
    box-shadow: 16px 16px 16px black;
    margin-top: 30px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 24px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

header nav{
    display: flex;
    width: max-content;
    margin: 0 0 0 auto;
}

header nav a{
    display: block;
    margin: 0 24px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

img#image2{
    width: 360px;
    height: 360px;
}

img#image3{
    width: 360px;
    height: 360px;
}

img#image4{
    width: 360px;
    height: 360px;
}

img#image5{
    width: 360px;
    height: 360px;
}